#myCanvas {
    border: 10px solid gray;
    background-image: url(https://static.vecteezy.com/system/resources/previews/025/360/892/non_2x/flat-cartoon-style-illustration-urban-landscape-with-two-line-road-skyline-city-office-buildings-family-houses-in-small-town-and-blue-sky-with-green-trees-in-background-vector.jpg)
}